{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>Hello, world!</title>
  </head>

  <body>
    <div
      class="row container-fluid"
      style="background-color: rgb(228, 231, 231)"
    >
      {% include "main/includes/sidebar.html" %}
      <span
        id="openBtn"
        style="font-size: 30px; cursor: pointer; display: none"
        onclick="openNav()"
        >&#9776; open
      </span>

      <div class="col-sm">{% block content %} {% endblock %}</div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
      function openNav() {
        //document.getElementById("Bar").style.width = "220px";
        //document.getElementById("sidebar").style.display = "block";
        document.getElementById("openBtn").style.display = "none";
        document.getElementById("sidebar").style.visibility = "visible";
        document.getElementById("sidebar").style.opacity = 1;
      }

      /* Set the width of the side navigation to 0 */
      function closeNav() {
        //document.getElementById("Bar").style.width = "0";
        //document.getElementById("sidebar").style.display = "none";
        document.getElementById("sidebar").style.visibility = "hidden";
        document.getElementById("openBtn").style.display = "block";
        document.getElementById("sidebar").style.opacity = 0;
      }

      document.getElementById("DateTime").innerHTML = DateandTime();
      function DateandTime() {
        var d = new Date(),
          minutes =
            d.getMinutes().toString().length == 1
              ? "0" + d.getMinutes()
              : d.getMinutes(),
          hours =
            d.getHours().toString().length == 1
              ? "0" + d.getHours()
              : d.getHours(),
          ampm = d.getHours() >= 12 ? "pm" : "am",
          months = [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
          ],
          days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
        return (
          days[d.getDay()] +
          " " +
          months[d.getMonth()] +
          " " +
          d.getDate() +
          " " +
          d.getFullYear() +
          " " +
          hours +
          ":" +
          minutes +
          ampm
        );
      }
      var ctx = document.getElementById("myChart").getContext("2d");
      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: "line",

        // The data for our dataset
        data: {
          labels: [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
          ],
          datasets: [
            {
              label: "My First dataset",
              borderColor: "rgb(255, 99, 132)",
              pointHoverBackgroundColor: "red",
              data: [0, 10, 5, 2, 20, 30, 45],
            },
          ],
        },

        // Configuration options go here
        options: {},
      });
    </script>
  </body>
</html>
