{% extends "main/header.html" %} {% load static %} {% block content %}

<div class="container">
  <!--cards-->
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body pb-0">
          <!-- Title -->
          <h4 class="card-title font-weight-bold">"Sensor Name"</h4>
          <!-- Text -->
          <p class="card-text mb-4 text-right" id="DateTime"></p>
          <p class="display-5">Current reading:</p>
          <p class="display-4 font-weight-bold">40</p>
        </div>
        <div class="card-block">
          <canvas id="myChart"> </canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card chart-card">
        <div class="card-body pb-0">
          <!-- Title -->
          <h4 class="card-title font-weight-bold">"Sensor Name"</h4>
          <!-- Text -->
          <p class="card-text mb-4 text-right" id="DateTime"></p>
          <p class="display-5">Current reading:</p>
          <p class="display-4 font-weight-bold">40</p>
        </div>
        <div class="card-block">
          <canvas id="myChart"> </canvas>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Card 3</h3>
          <p>This is card three. Just one more.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card chart-card">
        <canvas id="myChart"> </canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}
