{% load static %}
<div class="text-center" id="Bar">
  <nav id="sidebar">
    <div class="sticky-top">
      <div class="sidebar-brand">
        <img src="css/websiteLogo.png" id="logo" />
      </div>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <ul class="list-unstyled components">
        <li>
          <a class="nav-link active" href="/">Dashboard</a>
        </li>
        <li>
          <a
            href="#pageSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle font-weight-bold"
            >Stages</a
          >
          <ul class="collapse show list-unstyled" id="pageSubmenu">
            <li><a href="/stage/stage1">Stage1</a></li>
            <li><a href="/stage/stage1">Stage2</a></li>
            <li><a href="/stage/stage1">Stage3</a></li>
          </ul>
        </li>
        <li><a href="#">Portfolio</a></li>
      </ul>
    </div>
  </nav>
</div>
