@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(228, 231, 231);
  height: 100vh;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

div.row.container-fluid {
  padding: 0;
  margin: 0;
  height: 100vh;
}

img#logo {
  height: 50px;
  margin-right: 40px;
  margin-left: 30px;
  margin-bottom: 0;
}

#Bar {
  transition: width 0.5s ease-in-out;
  width: 220px;
}

#sidebar {
  width: 220px;
  height: 100%;
  background-color: #2c2a2a;
  color: #999;
  box-shadow: 2px 2px 2px 2px rgb(184, 183, 183);
  min-width: 220px;
  max-width: 220px;
  transition: all 0.5s;
}

#openBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

a.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#sidebar.active {
  margin-left: -220px;
}

#sidebar ul.components {
  padding: 20px 0;
  padding-left: 0px;
}

#sidebar ul p {
  padding: 10px;
  padding-bottom: 20px;
  color: rgb(29, 29, 29);
  border-bottom: 1px solid #303030;
  margin-bottom: 0%;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #999;
}

#sidebar ul li a:hover {
  color: aqua;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: aqua;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 10px !important;
}

div.card {
  margin: 10px 10px 10px 10px;
  box-shadow: 1px 1px 1px 1px rgb(184, 183, 183);
  border-radius: 2.5%;
  border: 2px rgb(70, 67, 67);
}

div.text-center.col-sm-2 {
  padding: 0%;
}

div.col-sm {
  padding: 0%;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
